.header {
	background-image: url(https://scontent-sjc2-1.xx.fbcdn.net/v/l/t1.0-9/16427396_2066335396926364_2440770491824276251_n.jpg?oh=6af8dd8017034255765122d562e3aca0&oe=59089889);
	background-color: black;
    color: white;
/*    margin: 20px 0 20px 0;*/
    padding: 175px;
    vertical-align: bottom;
    background-size: 100% 100%
} 
.navbar {
	background-color: black;
	color: black;
/*	float: right;*/
	text-align: right;
	position: relative;
	bottom: 0;
	right: 0;

}

.navbar a:link {
	color: white;

}