<!DOCTYPE html>
<html>
<head>
	<title>home</title>
<!--     <script src="{% load staticfiles %}"></script> -->
<!--     <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> -->
		    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<!-- <style>

</style> -->
<body>
	<div class="header">
		<h1> BeMed </h1>
		<div class="navbar">
			 <a href="{% url 'home' %}">Home</a>
			 <a href="{% url 'about' %}">About</a>
			 <a href="{% url 'schedule' %}">Master Schedule</a>
			 <a href="{% url 'extra' %}">Extracurriculars</a>
		 </div>
	</div>
	

</body>
</html>
    
